<template>
    <div class="container my-5">
        <h2>Hoteles</h2>
        <div class="row">
            <div class="col-md-4 mt-4"  v-for="hotel in this.hotels" v-bind:key="hotel.id">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" :src="`/storage/${hotel.imagen_principal}`" :alt="hotel.nombre" />
                        <div class="pt-2 pb-2">
                            <h3 class="card-title text-primary font-weight-bold">{{hotel.nombre}}</h3>
                            <p class="card-text">Dirección: {{hotel.direccion}}</p>
                            <p class="card-text">Horario: {{hotel.apertura}} & {{hotel.cierre}}</p>
                            <router-link :to="{name: 'establecimiento', params: {id: hotel.id }}" >
                                <a class="btn btn-primary d-block" >Ver Lugar</a>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "CategoriaHotel",
    mounted(){
        axios.get('/api/categorias/hoteles')
            .then(resp=>{
                this.$store.commit('AGREGAR_HOTELS', resp.data);
            })
    },
    computed:{
        hotels(){
            return this.$store.state.hotels;
        }
    }
}
</script>

<style scoped>

</style>
