<template>
    <div class="container my-5">
        <h2>Restaurant</h2>
        <div class="row">
            <div class="col-md-4 mt-4"  v-for="restaurant in this.restaurants" v-bind:key="restaurant.id">
                <div class="card">
                    <div class="card-body ">
                        <img class="card-img-top" :src="`/storage/${restaurant.imagen_principal}`" :alt="restaurant.nombre" />
                        <div class="pt-2 pb-2">
                            <h3 class="card-title text-primary font-weight-bold">{{restaurant.nombre}}</h3>
                            <p class="card-text">Dirección: {{restaurant.direccion}}</p>
                            <p class="card-text">Horario: {{restaurant.apertura}} & {{restaurant.cierre}}</p>
                            <router-link :to="{name: 'establecimiento', params: {id: restaurant.id }}" >
                                <a class="btn btn-primary d-block" >Ver Lugar</a>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "CategoriaResaturant",

    mounted(){
        axios.get('/api/categorias/restaurant')
            .then(resp=>{
               this.$store.commit('AGREGAR_RESTAURANS', resp.data)
            });
    },
    computed:{
        restaurants(){
            return this.$store.state.restaurants;
        }
    }

}
</script>

<style scoped>

</style>

