<template>
   <div class="container my-5">
       <h2>Cáfes</h2>
       <div class="row">
           <div class="col-md-4 mt-4"  v-for="cafe in this.cafes" v-bind:key="cafe.id">
                <div class="card">
                    <div class="card-body ">
                        <img class="card-img-top" :src="`/storage/${cafe.imagen_principal}`" :alt="cafe.nombre" />
                        <div class="pt-2 pb-2">
                            <h3 class="card-title text-primary font-weight-bold">{{cafe.nombre}}</h3>
                            <p class="card-text">Dirección: {{cafe.direccion}}</p>
                            <p class="card-text">Horario: {{cafe.apertura}} & {{cafe.cierre}}</p>
                            <router-link :to="{name: 'establecimiento', params: {id: cafe.id }}" >
                            <a class="btn btn-primary d-block" >Ver Lugar</a>
                            </router-link>
                        </div>
                    </div>
                </div>
           </div>
       </div>
   </div>
</template>

<script>

export default {
    name: "CategoriaCafe",
    mounted(){
        axios.get('/api/categorias/cafe')
        .then(resp=>{
            this.$store.commit('AGREGAR_CAFES', resp.data);
        })
    },
    computed:{
        cafes(){
            return this.$store.state.cafes
        }
    }
}
</script>

<style scoped>

</style>
