<template>
    <div class="mt-4">
        <h2>Galeria de Imagenes</h2>
        <ul class="row list-unstyled mt-3">
            <li class="col-md-4 mb-4" v-for="imagen in this.images" v-bind:key="imagen.id">
                <a :href="`/storage/${imagen.url_imagen}`" :data-lightbox="imagen.id" :data-title="imagen.id">
                    <img :src="`/storage/${imagen.url_imagen}`" class="img-fluid" alt="gallery" />
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "GaleriaImages",
    computed:{
        images(){
            return this.$store.getters.getImages;
        }
    }
}
</script>

<style scoped>
@import "https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css";
</style>
