<template>
    <div>
        <list-category></list-category>
        <mapa-establecimientos></mapa-establecimientos>
        <div class="container">
            <categoria-cafe></categoria-cafe>
            <categoria-restaurant></categoria-restaurant>
            <categoria-hotel></categoria-hotel>
        </div>
    </div>
</template>


<script>
import CategoriaCafe from "./categoriaCafe";
import CategoriaResaturant from "./categoriaResaturant";
import CategoriaHotel from "./categoriaHotel";
import MapaEstablecimientos from "./mapaEstablecimientos";
import ListCategory from "./listCategory";

export default {
    name: "inicioEstablecimientos",
    components: {
        ListCategory,
        CategoriaCafe,
        CategoriaResaturant,
        CategoriaHotel,
        MapaEstablecimientos
    },
    mounted() {
        console.log('Component mounted.')
    }
}
</script>
