<template>
    <div v-if="categorys.length > 0" >
        <nav class="d-flex flex-column flex-md-row justify-content-md-center container">
            <a
            @click="seleccionarTodos()"
            >Todos</a>
            <a v-for="category in categorys"
                v-bind:key="category.id"
                class="m-0"
                @click="seleccionarCategoria(category)"
            >{{ category.nombre }}</a>
        </nav>
    </div>
</template>

<script>
export default {
    name: "listCategory",
    async created() {
        let resp = await axios.get('/api/categorias/');
        this.$store.commit('AGREGAR_CATEGORIA', resp.data)
    },
    computed: {
        categorys() {
            return this.$store.getters.getCategorys
        }
    },
    methods:{
        seleccionarTodos(){
            axios.get("/api/establecimientos/")
                .then((resp)=>{
                    this.$store.commit('AGREGAR_ESTABLECIMIENTOS', resp.data)
                })
                .catch((error)=>console.log(error))
        },
        seleccionarCategoria(category){
            this.$store.commit('SELECCIONAR_CATEGORIA', category.slug);
        }
    }

}
</script>

<style scoped>
div {
    background-color: #6272d4;
}

nav a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    text-align: center;
    flex: 1;
}

nav a:nth-child(1) {
    background-color: #a000b7;
    color: white;
}

nav a:nth-child(2) {
    background-color: #591d03;
    color: white;
}

nav a:nth-child(3) {
    background-color: #ea6a00;
    color: white;
}

nav a:nth-child(4) {
    background-color: #edb220;
    color: white;
}

nav a:nth-child(5) {
    background-color: #dd0e3f;
    color: white;
}

nav a:nth-child(6) {
    background-color: #0448b5;
    color: white;
}

nav a:nth-child(7) {
    background-color: #00a81c;
    color: white;
}

nav a:nth-child(8) {
    background-color: #D68C2F;
    color: white;
}

nav a:nth-child(1):hover {
    background-color: #fff;
    color: #3b0244;
    cursor: pointer;
}

nav a:nth-child(2):hover {
    background-color: #fff;
    color: #591d03;
    cursor: pointer;
}

nav a:nth-child(3):hover {
    background-color: #fff;
    color: #ea6a00;
    cursor: pointer;
}

nav a:nth-child(4):hover {
    background-color: #fff;
    color: #edb220;
    cursor: pointer;
}

nav a:nth-child(5):hover {
    background-color: #fff;
    color: #dd0e3f;
    cursor: pointer;
}

nav a:nth-child(6):hover {
    background-color: #fff;
    color: #0448b5;
    cursor: pointer;
}

nav a:nth-child(7):hover {
    background-color: #fff;
    color: #00a81c;
    cursor: pointer;
}

nav a:nth-child(8):hover {
    background-color: white;
    color: #D68C2F;
    cursor:pointer
}
</style>
