<template>
    <div class="mapa" >
    <l-map
        :zoom="zoom"
        :center="center"
        :options="mapOptions"
    >
        <l-tile-layer :url="url" :attribution="attribution" ></l-tile-layer>
        <l-marker
            v-for="establecimiento in establecimientos"
            v-bind:key="establecimiento.id"
            :lat-lng="getCoordenate(establecimiento)"
            :icon="iconoEstablecimiento(establecimiento)"
            @click="redirect(establecimiento.id)"
        >
            <l-tooltip>
                <div>
                <span>{{establecimiento.nombre}} | </span>
                <span>{{establecimiento.direccion}} | </span>
                </div>
                <div>
                    {{establecimiento.categoria.nombre}}
                </div>
            </l-tooltip>

        </l-marker>
    </l-map>

    </div>
</template>

<script>
import {latLng} from 'leaflet'
import {LMap, LMarker, LTileLayer, LTooltip, LIcon} from 'vue2-leaflet'
export default {
    name: "MapaEstablecimientos",
    components:{
        LMap,
        LTileLayer,
        LMarker,
        LTooltip,
        LIcon
    },
    data() {
        return {
            zoom: 13,
            center: latLng(4.6868223, -74.0854247),
            url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
            attribution:
                '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            currentZoom: 11.5,
            currentCenter: latLng(4.6868223, -74.0854247),
            showParagraph: false,
            mapOptions: {
                zoomSnap: 0.5
            },
            showMap: true
        };
    },
    created(){
        axios.get("/api/establecimientos/")
                .then((resp)=>{
                    this.$store.commit('AGREGAR_ESTABLECIMIENTOS', resp.data)
                })
                .catch((error)=>console.log(error))
    },
   computed:{
        establecimientos(){
           return this.$store.getters.getEstablecimientos
        }
   },
    methods:{
        getCoordenate(establecimiento){
            return {
                lat: establecimiento.lat,
                lng: establecimiento.lng
            }
        },
        iconoEstablecimiento(establecimiento){
            const {slug} = establecimiento.categoria;
                return L.icon({
                        iconUrl: `images/iconos/${slug}.png`,
                        iconSize: [40,50]
                })
        },
        redirect(id){
            this.$router.push({name: 'establecimiento', params: {id}})
        }
    },
    watch:{
        "$store.state.categoria" : function(){
            console.log(this.$store.getters.getCategory);
            axios.get(`http://127.0.0.1:8000/api/categoria/${this.$store.getters.getCategory}`)
            .then((resp)=>{
                this.$store.commit('AGREGAR_ESTABLECIMIENTOS', resp.data)
            })
            .catch((error)=>console.log(error))
        }
    }
}
</script>

<style scoped>
    .mapa{
        height: 600px;
        width: 100%;
    }
</style>
