<template>
    <div class="mapa">
        <l-map
        :center="center"
        :zoom="zoom"
        :options="mapOptions"
        >
            <l-tile-layer :url="url" :attribution="attribution" ></l-tile-layer>
            <l-marker :lat_lng="[lat, lng]">
                <l-tooltip>{{establishment.nombre}}</l-tooltip>
            </l-marker>
        </l-map>
    </div>
</template>

<script>
import {LMap, LTileLayer, LMarker, LTooltip} from 'vue2-leaflet'
import {latLng} from 'leaflet'
export default {
    name: "MapaUbicacion",
    components:{
        LMap,
        LTileLayer,
        LMarker,
        LTooltip
    },
    data() {
        return {
            zoom: 14,
            center: latLng(4.6486259, -74.2478912),
            url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
            attribution:
                '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            currentZoom: 5.5,
            mapOptions: {
                zoomSnap: 0.5
            },
            showMap: true,
            lat: '',
            lng: ''
        };
    },
    mounted(){
        setTimeout(()=>{
           const {lat, lng} =  this.$store.getters.getStablecimiento;
            this.lat = lat;
            this.lng = lng;
            this.center = latLng(this.lat, this.lng)
        }, 1000)
    },
    computed: {
        establishment() {
            return this.$store.getters.getStablecimiento;
        }
    }
}
</script>
<style scoped>
@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
.mapa{
    height: 300px;
    width: 100%;
}
</style>

