<template>

    <div class="container my-5">
        <h2 class="text-center mb-5">{{establishment.nombre}}</h2>
        <div class="row align-items-start">
            <div class="col-md-8">
                <img :src="`../storage/${establishment.imagen_principal}`" :alt="establishment.nombre"
                     class="img-fluid"/>
                <p class="text-justify mt-3">{{establishment.descripcion}}</p>
                <galeria-images></galeria-images>
            </div>
            <aside class="col-md-4">
                <div>
                    <mapa-ubicacion></mapa-ubicacion>
                </div>
                <div class="p-4 bg-primary">
                    <h3 class="text-center text-white mt-2 mb-4">Más Información</h3>
                    <p class="text-white">
                        <span class="font-weight-bold">
                            Dirección:
                        </span>
                        {{establishment.direccion}}
                    </p>
                    <p class="text-white">
                        <span class="font-weight-bold">
                            Ubicación:
                        </span>
                        {{establishment.barrio}}
                    </p>
                    <p class="text-white">
                        <span class="font-weight-bold">
                            Horario:
                        </span>
                        {{establishment.apertura}} - {{establishment.cierre}}
                    </p>
                    <p class="text-white">
                        <span class="font-weight-bold">
                            Telefóno:
                        </span>
                        {{establishment.telefono}}
                    </p>
                </div>
            </aside>
        </div>
    </div>

</template>

<script>
import MapaUbicacion from "./mapaUbicacion";
import GaleriaImages from "./galeriaImages";
export default {
    name: "mostrarEstablecimiento",
    components:{
        MapaUbicacion,
        GaleriaImages
    },
    mounted() {
        const {id} = this.$route.params;
        axios.get(`/api/establecimiento/${id}`)
            .then((resp) => this.$store.commit('AGREGAR_EXTABLECIMIENTO', resp.data))
            .catch((error) => console.log(error))

    },
    computed: {
        establishment() {
            return this.$store.getters.getStablecimiento;
        }
    }
}
</script>

<style scoped>

</style>
