<template>
    <div>
        <vue-page-transition name="fade-in-up">
        <router-view/>
        </vue-page-transition>
    </div>
</template>

<script>
import store from  '../store'
    export default {
        name: "paginaInicio",
        store
    }
</script>
